<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="javascript">	    

  // Función para cargar especialidades al seleccionar un profesional 	  
	  function loadEspecialidade() {
	  			
		 //verificamos el indice del combobox -------------------------------
		    var index = document.getElementById("profesional").selectedIndex;
      	// -----------------------------------------------------------------
      		if(index != 0)
      			{	  
	  			var profesionalId = $("#profesional").val();			    
			    if (profesionalId == "") {
			    	alert("No se encontro el Id del Profesional.");
			      $("#especialidad").empty().prop("disabled", true);		      
			      return;
			    }
			    $.get("/movimientos/cargar-especialidades/"+profesionalId, { profesionalId: profesionalId }, function(data) {
			      $("#especialidad").empty().prop("disabled", false);
			      //$("#citySelect").empty().prop("disabled", true);
			      //$("#especialidad").append(new Option("Selecciona una especialidad", ""));     
			      
			      // Iterar sobre las especialidades y establecer la especialidad actual del contacto como seleccionado
			      $.each(data, function(index, especialidad) {
			        var selected = especialidad.id === "${especialidad.id}" ? "selected" : "";
			        $("#especialidad").append(new Option(especialidad.especialidadNombre, especialidad.id, false, selected));
			      }			      
			      );
			      /* ejecutamos la funcion validar comboBox para asegurarnos que tanto
			        en Profesional o Especialidad haya seleccionado al menos 1 item.*/
			      validarComboBox();
			    });	
      			}
      	else
      	{document.getElementById('btnGuardar').disabled = true;}
  }
  
  //Funcion para verificar si existen especialidades vinculadas del profesional seleccionado.
	  function existeEspecialidad(){
		  $(document).ready(function(){
			  var profesionalId = $("#profesional").val();
			  var profesionalNombre =$('#profesional option:selected').text()
			    $.ajax({
			        type: 'GET',
			        url: "/movimientos/cargar-especialidades/"+profesionalId,
			        dataType: 'json',
			        success: function(lista){
			            //console.log("OK");
			            // validas si la lista es nula			            
			            if(lista == ""){
			                // validar si la lista tiene elementos
			                alert('No Existen especialidades Vinculadas para el Profesional: \n'+ profesionalNombre.toUpperCase());
			                document.getElementById('btnGuardar').disabled = true;
			                /* if(lista.lenght > 0){
			                    $.each(lista, function(i, item){
			                        console.log("item: " + item);
			                    });
			                } */
			            }
			            else
			            	{
			            	document.getElementById('btnGuardar').disabled = false;			            	
			            	}
			        },
			        // aquí capturas cualquier error que venga del backend
			        error: function(XMLHttpRequest, textStatus, error) { 
			            //alert("status: " + textStatus); 
			            alert("[ERROR]\nDebe seleccionar un Profesional !"); 
			        } 
			    });

			});
		}
  
  //Funcion para validar comboBox
  function validarComboBox(){
   if(document.getElementById("profesional").value !="" && document.getElementById("especialidad").value !="")
     {
	   	document.getElementById('btnGuardar').disabled = false;
     }
     else
     {
    	 if(document.getElementById("profesional").value =="" || document.getElementById("especialidad").value =="")
    		 {
    		 	document.getElementById('btnGuardar').disabled = true;
    		 }    	     
     }    
   }   
  
  /* //Funcion Validar Campos del formulario
  function validarHoras(){
	  var valorDefecto="00:00";
	  if((document.getElementById('horaIniManana').value).length==0){document.getElementById('horaIniManana').value = valorDefecto;}
	  if((document.getElementById('horaFinManana').value).length==0){document.getElementById('horaFinManana').value = valorDefecto;}
	  if((document.getElementById('totalManana').value).length==0){document.getElementById('totalManana').value = valorDefecto;}
	  if((document.getElementById('horaIniTarde').value).length==0){document.getElementById('horaIniTarde').value = valorDefecto;}
	  if((document.getElementById('horaFinTarde').value).length==0){document.getElementById('horaFinTarde').value = valorDefecto;}
	  if((document.getElementById('totalTarde').value).length==0){document.getElementById('totalTarde').value = valorDefecto;}
	  if((document.getElementById('totalGeneral').value).length==0){document.getElementById('totalGeneral').value = valorDefecto;}
	  //elecutamos la funcion sumar horas aca
	  //sumarHoras();
  } */
  
  
       //ejecutamos la funcion cuando cargue la pagina	   
		$(document).ready(function() {
			document.getElementById('btnGuardar').disabled = true;
		});
	</script>
</body>
</html>